body {
    background-color: #04002c;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#application {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    height: 66px;
    background-color:#010011;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.btn {
    padding: 5px 7px;
    background-color: orangered;
    border-radius: 7px;
    font-size: 14px;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 45px;
    letter-spacing: 3px;
    color: orangered;
    font-weight: bolder;
    width: 100%;
}

#sessions-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#login-container {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 270px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

#signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 310px;
    justify-content: space-around;
    width: 480px;
    position: relative;
}

.pass-container {
    width: 480px;
    display: flex;
    justify-content: space-evenly;
}

.session-input {
    padding-left: 16px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid silver;
}

.create-account, .signin {
    font-size: 14px;
}

.logout {
    display: flex;
    align-items: center;
    padding: 5px 7px;
    background-color: orangered;
    height: 25px;
    border-radius: 7px;
    margin-right: 10px;
}

.errors {
    position: absolute;
    right: -160px;
    top: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px;
    background-color: orangered;
    max-width: 170px;
}

.list-error {
    display: flex;
    text-align: center;
}

.signup-errors {
    position: absolute;
    right: -260px;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px;
    background-color: orangered;
}

.signup-list-error {
    display: flex;
    text-align: center;
}

.btn:hover, .create-account:hover, .signin:hover, .logout:hover {
    cursor: pointer;
}