.main-section {
    display: flex;
    padding-top: 110px;
}

#notice {
    background-color: #2b20b2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#search {
    width: 25%;
}

#feed {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#favorites-container {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.search-header {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    justify-content: space-around;
}

.search-input {
    border: 1px solid silver;
    border-radius: 7px;
    height: 40px;
    width: 80%;
    padding-left: 15px;
    box-sizing: border-box;
}

.search-btn {
    padding: 5px 7px;
    background-color: orangered;
    border-radius: 7px;
    font-size: 14px;
}

.favorites-header {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.create-post-btn {
    background-color: orangered;
    width: 50%;
    display: flex;
    justify-content: center;
    height: 30px;
    border-radius: 7px;
    align-items: center;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    padding: 20px;
    background-color: #04002c;
    border-radius: 17px;
    justify-content: space-around;
    align-items: center;
}

.post-title {
    height: 40px;
    border: 1px solid silver;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.post-body {
    height: 300px;
    border: 1px solid silver;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 10px;
    resize: none;
    padding-top: 5px;
    width: 90%;
}

.submit-post {
    display: flex;
    justify-content: center;
    padding: 5px 7px;
    background-color: orangered;
    border-radius: 7px;
    font-size: 14px;
    width: 90%;
}

#feed-of-posts {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 20px;
}

.posttitle {
    font-size: 30px;
}

.postdetails {
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

.post-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid silver;
    border-radius: 7px;
    margin-bottom: 20px;
}

.postbody {
    max-height: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favorite-post {
    margin-top: 5px;
    align-self: end;
    font-size: 20px;
    width: 25px;
    display: flex;
    justify-content: center;
}

.create-post-btn:hover, .search-btn:hover, .submit-post:hover, .favorite-post:hover {
    cursor: pointer;
}